// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -----------------------------
// Operations styles
// -----------------------------
div#operations .operation {
	padding:20px 20px;
	display:none;
	
	.op-number {
		font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
		font-size:22px;
	}
}

div.non-admin{
	display:none;
}


// sticky sidebar
.sidebar-nav-fixed {
    //padding: 9px 0;
    position:fixed;
    width:275px;
    //left:20px;
    //top:60px;
}
/*
.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}
*/


// added on focus
div#operations .operation.focus {
	border:3px solid #026873;
	border-radius: 10px;
	background: #F2F0CE;
}


.start-btn{
	text-align: center;
	
	#start-btn {
		margin: 60px auto;
	}
}

// -----------------------------
// Fixes for horizontal forms in exercises
// -----------------------------

form.operations-form.form-horizontal .controls {
	margin-left: 10px;
}

form.operations-form.form-horizontal .control-label {
	width: auto;
}

form.operations-form .operation-separtor{
	height:1px;
	border-bottom:1px solid;
	margin:10px;
	width:60px;
}

form.operations-form div.control-group {
	margin:15px;
}

form.operations-form:not(.form-horizontal) div.control-group * {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

form.operations-form div.control-group label {
	margin-left:auto ;
	margin-right:auto;
}